# Editor files
*~

# OS X
.DS_Store
.hushlogin

# Windows
Thumbs.db

# Eclipse project info
.settings
.project

# Ruby
/Gemfile.lock
/vendor
.bundle

# Jekyll
/_site

# External Repo Pages
/website-testing
/hoc
/countdown
/bingo
