<div id="banner">
{% include flag.html %}
  <div id="Stronghold" class="banner">
    <a href="https://www.youtube.com/watch?v=VqOKzoHJDjA" target="_blank">
      <img title="Find out more about this year's game." alt="Stronghold Logo" src="{{ site.url }}/assets/img/FIRST-logos/Stronghold-logo.png" />
    </a>
    <div class="banner-text">
      <p>We're the 2nd Law Enforcers: <span style="font-style:italic">FIRST</span> <sup>&reg;</sup> Robotics Competition Team 178 from Farmington, Connecticut. We aim to provide real-world opportunities for all team members to grow as individuals and as leaders, to pursue their passions, to explore STEM fields, and to give back to the community by inspiring young children.</p>
    </div>
  </div>
</div>
