<div id="banner">
  <div id="intro" class="slide">
    {% include flag.html %}
    <div class="banner-text">
      <p>We're the 2nd Law Enforcers: <span style="font-style:italic">FIRST</span> <sup>&reg;</sup> Robotics Competition Team 178 from Farmington, Connecticut. We aim to provide real-world opportunities for all team members to grow as individuals and as leaders, to pursue their passions, to explore STEM fields, and to give back to the community by inspiring young children.</p>
    </div>
    {% include flag.html %}
  </div>
</div>
