<script>
#calendar {
  margin: 30px 0;
}
/* Makes the large and small calendars switch when on mobile */
#small-calendar {
  display: none;
}
@media screen and (max-width: 655px) {
  #calendar {
    display: none;
  }
  #small-calendar {
    display: block;
  }
}
</script>
<div style="margin:0 auto;" name="calendar">
<iframe id="calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=farmingtonrobotics.org_9cd1t9b8eknor0pqbk1s5g555k%40group.calendar.google.com" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<iframe id="small-calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=farmingtonrobotics.org_9cd1t9b8eknor0pqbk1s5g555k%40group.calendar.google.com" style="border-width:0" width="600" height="450" frameborder="0" scrolling="no"></iframe>
</div>
