<!--This imports the Dyslexic font for use anywhere on the page-->
<style>
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/OpenDyslexic-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/OpenDyslexic-Italic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "Open Dyslexic";
  src: url("/assets/fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
</style>
