<head>
  <!-- Slick CSS Files: -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/slick/slick.css"/>
  <noscript>
    <style>
    #photoslides {
      display: none !important;
    }
    </style>
  </noscript>
</head>

<div class="photos">
  <div class="photo-slide">hello world 1</div>
  <div class="photo-slide">hello world 2</div>
  <div class="photo-slide">hello world 3</div>
</div>

<br>
<div width="100%" style="text-align:center;margin-top:1em;font-size:17px">
  The website's developer made a mistake and the slideshow of the pictures is gone.
  <br>Until he fixes things, check out our <a href="https://www.instagram.com/team178/">Instagram page</a> for our most recent pictures.
</div>

<script>
  $(document).ready(function(){
    $('.photos').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      fade: true,
      arrows: false,
      initialSlide: 1,
      dots: true,
    });
  });
</script>
