<style>
/* Makes the large and small albums switch when on mobile */
#small-facebook-album {
  display: none;
}
@media screen and (max-width: 450px) {
  #facebook-album {
    display: none;
  }
  #small-facebook-album {
    display: block;
  }
}
</style>
<div id="photos">
  <iframe id="facebook-album" src="//embedsocial.com/facebook_album/album_photos/1035245586498309" width="900" height="500" frameborder="0" scrolling="yes" marginheight="0"  marginwidth="0"></iframe>
  <iframe id="small-facebook-album" src="//embedsocial.com/facebook_album/album_photos/1035245586498309" width="900" height="250" frameborder="0" scrolling="yes" marginheight="0"  marginwidth="0"></iframe>
</div>
