<div id="footer">
  <div class="container">
    <div class="row">
    
      <!-- Tweets -->
      <section class="4u">
        <header>
          <h2 class="fa fa-twitter circled solo"><span>Tweets</span></h2>
        </header>
        <ul class="divided">
          <li>
            <article class="tweet">
              Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
              <span class="timestamp">5 minutes ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Hendrerit rutrum quisque.
              <span class="timestamp">30 minutes ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
              <span class="timestamp">3 hours ago</span>
            </article>
          </li>
          <li>
            <article class="tweet">
              Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
              <span class="timestamp">5 hours ago</span>
            </article>
          </li>
        </ul>
      </section>
      
      <!-- Posts -->
      <section class="4u">
        <header>
          <h2 class="fa fa-file circled solo"><span>Posts</span></h2>
        </header>
        <ul class="divided">
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#">Nisl fermentum integer</a></h3>
              </header>
              <span class="timestamp">3 hours ago</span>
            </article>
          </li>
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#">Phasellus portitor lorem</a></h3>
              </header>
              <span class="timestamp">6 hours ago</span>
            </article>
          </li>
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#">Magna tempus consequat</a></h3>
              </header>
              <span class="timestamp">Yesterday</span>
            </article>
          </li>
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#">Feugiat lorem ipsum</a></h3>
              </header>
              <span class="timestamp">2 days ago</span>
            </article>
          </li>
        </ul>
      </section>

      <!-- Photos -->
      <section class="4u">
        <header>
          <h2 class="fa fa-camera circled solo"><span>Photos</span></h2>
        </header>
        <div class="row quarter no-collapse">
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Air-Lounge-385212062" class="image full"><img src="images/pic10.jpg" alt="" /></a>
          </div>
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Paris-City-Streets-II-382623606" class="image full"><img src="images/pic11.jpg" alt="" /></a>
          </div>
        </div>
        <div class="row quarter no-collapse">
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Trainride-Visions-383309985" class="image full"><img src="images/pic12.jpg" alt="" /></a>
          </div>
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Paris-Metro-382623851" class="image full"><img src="images/pic13.jpg" alt="" /></a>
          </div>
        </div>
        <div class="row quarter no-collapse">
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Cliffs-of-Coogee-II-366961860" class="image full"><img src="images/pic14.jpg" alt="" /></a>
          </div>
          <div class="6u">
            <a href="http://mdomaradzki.deviantart.com/art/Stormy-Coast-VII-366561367" class="image full"><img src="images/pic15.jpg" alt="" /></a>
          </div>
        </div>
      </section>
    </div>
    
    <hr />
    <div class="row">
      <div class="12u">

        <!-- Contact -->
        <section class="contact">
          <header>
          <h3>Social Media</h3>
          </header>
          <p>Interested in staying updated with the latest Enforcers information?</p>
          <ul class="icons">
            <li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
            <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
            <li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
            <!--
            <li><a href="#" class="fa fa-pinterest solo"><span>Pinterest</span></a></li>
            <li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li>
            <li><a href="#" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
            -->
          </ul>
        </section>
        
        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; 2014 Lansing Nye-Madden. All rights reserved.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>