<footer>
  <div id="font-stuff">
    <div class="switch-container">
      <div class="switch-info">Dyslexia font:</div>
      <label class="switch">
        <input type="checkbox" class="switch-input" onclick="toggleFont()">
        <span class="switch-label" data-on="On" data-off="Off"></span>
        <span class="switch-handle"></span>
      </label>
    </div>
    <div style="margin-top:-5px; font-size: 10px; font-family:'Open Dyslexic';">Font Credit: <a style="text-decoration: underline;" href="https://opendyslexic.org">Open Dyslexic</a></div>
  </div>Email us at {% include obfuscated-email.html %}
  <br>&copy; 2006<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, 2nd Law Enforcers Team 178. All Rights Reserved.
</footer>
