<div class="info-box" id="form-help" name="form-help">
<h2>Help with Forms</h2>
You must print the forms out, fill them out legibly, scan them into your computer, turn them into a single .pdf file, upload that file to Google Drive, and share it with <a href="mailto:trips@farmingtonrobotics.org">Trips@FarmingtonRobotics.org</a>.<br>

<h1>How to scan papers and turn them into a .pdf</h1>
You can either use your home printer/scanner to turn your forms into .pdfs or you can use a mobile app. There is one for <a target="_blank" href="https://play.google.com/store/apps/details?id=com.thegrizzlylabs.geniusscan.free&hl=en">Android</a> and one for <a target="_blank" href="https://itunes.apple.com/us/app/genius-scan-pdf-scanner/id377672876?mt=8">iOS</a> (iPhones & iPods).
</div>
