  <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Enforcers Team 178</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/external-links-bar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/banner.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert2.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="/assets/js/menu.js"></script>
  <script type="text/javascript" src="/assets/js/flag.js"></script>
  <!-- For SweetAlert2 -->
  <script src="/assets/js/sweetalert2.min.js"></script>
  <!-- IE support for Swal2-_- -->
  <script src="/assets/js/promise.min.js"></script>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48555952-2', 'farmingtonrobotics.org');
    ga('send', 'pageview');
  </script>
  {% include stencil-font.html %}
