<div id="header">
  <h1><a href="{{ site.url}}/">Enforcers</a></h1>
  <div id="menu-toggle"></div>
  <nav>
    <ul id="nav">
      <li><a href="{{ site.url }}/">Home</a></li>
      <li><a href="{{ site.url }}/sponsors">Sponsors</a></li>
      <li><a href="{{ site.url }}/media">Media</a></li>
      <li>
        <a href="{{ site.url }}/about">The Team</a>
        <ul>
          <li><a href="{{ site.url }}/about">The Team</a></li>
          <li><a href="{{ site.url }}/committees">Committees</a></li>
          <li><a href="{{ site.url }}/robots">Robots</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.url }}/about">About</a>
        <ul>
          <li><a href="{{ site.url }}/about">Our Team</a></li>
          <li><a href="{{ site.url }}/dreamfirst">Dream FIRST</a></li>
          <li><a href="{{ site.url }}/first">FIRST</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="social-bar">
    <a href="https://www.facebook.com/FRC178"><img alt="Facebook" src="{{ site.url }}/files/social/facebook.png" /></a>
    <a href="https://twitter.com/team178"><img alt="Twitter" src="{{ site.url }}/files/social/twitter.png" /></a>
    <a href="http://www.youtube.com/user/Team178Enforcers"><img alt="YouTube" src="{{ site.url }}/files/social/youtube.png" /></a>
    <a href="http://whatisfrc.tumblr.com/"><img alt="Tumblr" src="{{ site.url }}/files/social/tumblr.png" /></a>
    <a href="https://github.com/team178"><img alt="GitHub" src="{{ site.url }}/files/social/github.png" /></a>
  </div>
</div>