  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48555952-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-48555952-2');
  </script>
  <title>{% if page.title.size > 0 %}{{ page.title }} &bull; {% endif %}Enforcers Team 178</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/external-links-bar.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/banner.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/switch.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/sweetalert2.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/load.js"></script>
  <script type="text/javascript" src="/assets/js/cookies.js"></script>
  <script type="text/javascript" src="/assets/js/change-font.js"></script>
  <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
  {% include dyslexic-font.html %}
  <!-- Should check if the browser is IE -->
  <![if IE]>
  <script type='text/javascript'>
  if(/*@cc_on!@*/false)
  var bIsIE = 1;
  </script>
  <![endif]>
