<div id="header">
  <h1>Dream <span id="first">FIRST</span></h1>
  <div id="menu-toggle"></div>
  <nav>
    <ul id="nav">
      <li{% if page.navigation_name == 'home' %} class="current"{% endif %}>
        <a href="{{ site.url }}/">Home</a>
      </li>
      <li{% if page.navigation_name == 'events' %} class="current"{% endif %}>
        <a href="{{ site.url }}/events/">Events</a>
      </li>
      <li{% if page.navigation_name == 'books' %} class="current"{% endif %}>
        <a href="{{ site.url }}/books/">Books</a>
      </li>
      <li{% if page.navigation_name == 'gizmo' %} class="current"{% endif %}>
        <a href="{{ site.url }}/gizmo/">Gizmo's Corner</a>
      </li>
      <li{% if page.navigation_name == 'about' %} class="current"{% endif %}>
        <a href="{{ site.url }}/about/">About</a>
      </li>
    </ul>
  </nav>
  <div id="clouds-container">
    <div class="cloud" id="cloud1"></div>
    <div class="cloud" id="cloud2"></div>
    <div class="cloud" id="cloud3"></div>
    <div class="cloud" id="cloud4"></div>
    <div class="cloud" id="cloud5"></div>
  </div>
</div>
