<div id="information">

	<div id="news">
		<h3>Recent News</h3>
		{{ site.posts }}
	</div>

	<div id="our-team"> <!-- TODO: Get this content from About page -->
		<h3>About the Team</h3>
		<p>Our team is an amazing bunch of people that like to play games involving safety during their free time. :)</p>
	</div>

	<div id="third-thing">
		<h3>Third Thing</h3>
		<p>Lorem ipsum latin improvize stuff, important, read this now, all about it, Lanse is funny. Sometimes I like to eat cheeze with mayonaise.</p>
	</div>

</div>
