    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.url }}/resources/js/jquery.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-transition.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-alert.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-modal.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-dropdown.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-scrollspy.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-tab.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-tooltip.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-popover.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-button.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-collapse.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-carousel.js"></script>
    <script src="{{ site.url }}/resources/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="{{ site.url }}/resources/js/holder.js"></script>
