<nav id="nav">
  <ul>
    <li><a href="{{ site.url }}/">Home</a></li>
    <li><a href="{{ site.url }}/sponsors/">Calendar</a></li>
    <li><a href="{{ site.url }}/media/">Media</a></li>
    <li><a href="{{ site.url }}/about/">Participate</a></li>
    <li>About &#9660;
      <ul>
        <li>The Enforcers
          <ul>
            <li><a href="">Our Mission</a></li>
            <li><a href="">Our Members</a></li>
            <li><a href="">Our Alumni</a></li>
            <li><a href="">Our Mentors</a></li>
          </ul>
        </li>
        <li>The FIRST Program
          <ul>
            <li><a href="">Robotics Competition</a></li>
            <li><a href="">Tech Challenge</a></li>
            <li><a href="">Lego League</a></li>
            <li><a href="">Jr FIRST Lego League</a></li>
          </ul>
        </li>
        <li>Getting Involved
          <ul>
            <li><a href="">Finding a Team</a></li>
            <li><a href="">Starting a Team</a></li>
            <li><a href="">Becoming a Mentor</a></li>
            <li><a href="">Becoming a Sponsor</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">Contact</a></li>
  </ul>
</nav>