<div id="menu-toggle"></div>
<nav>
  <ul id="nav">
    <li><a href="{{ site.url }}/">Home</a></li>
    <li><a href="{{ site.url }}/sponsors">Sponsors</a></li>
    <li><a href="{{ site.url }}/media">Media</a></li>
     <li><a href="{{ site.url }}/robots">Team History</a>
    <li><a href="{{ site.url }}/members">Members Section</a>
    <ul>
       <li><a href="{{ site.url }}/calendar">Calendar</a></li>
      </ul></li>
    <li><a href="{{ site.url }}/dreamfirst">Dream FIRST</a></li>
    <li>
      <a href="{{ site.url }}/about">About</a>
      <ul>
        <li><a href="{{ site.url }}/about">The Team</a></li>
        <li><a href="{{ site.url }}/committees">Committees</a></li>
      

        <li><a href="{{ site.url }}/first">FIRST</a></li>
      </ul>
    </li>
  </ul>
</nav>
