<div id="menu-toggle"></div>
<nav>
  <ul id="nav">
    <li><a href="{{ site.url }}/">Home</a></li>
    <li>
      <a href="{{ site.url }}/about">About</a>
      <ul>
        <li><a href="{{ site.url }}/about">The Team</a></li>
        <li><a href="{{ site.url }}/history">Team History</a></li>
        <li><a href="{{ site.url }}/committees">Committees</a></li>
        <li><a href="{{ site.url }}/dreamfirst">Dream FIRST</a></li>
      </ul>
    </li>
    <li><a href="{{ site.url }}/sponsors">Sponsors</a></li>
    <li><a href="{{ site.url }}/media">Media</a></li>
    <li>
      <a href="{{ site.url }}/first">FIRST</a>
      <ul>
        <li><a href="{{ site.url }}/flljr">FIRST Lego League Jr.</a></li>
        <li><a href="{{ site.url }}/fll">FIRST Lego League</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.url }}/members">Members Section</a>
      <ul>
        <li><a href="{{ site.url }}/members/drive">Shared Folder</a></li>
        <li><a href="{{ site.url }}/members/calendar">Calendar</a></li>
      </ul>
    </li>
  <li><a href="{{ site.url }}/contact">Contact Us</a></li>
  </ul>
</nav>
