<head>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/raffle-meter.css">
<script type='text/javascript' src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type='text/javascript' src="{{ site.url }}/assets/js/raffle-meter.js"></script>
<script type='text/javascript' src="{{ site.url }}/assets/js/modifying-css.js"></script>
</head>

<div id="raffle-meter-container" align="center">
  <div id="progress-title">Raffle Progress Bar!</div>
  (Mouse over the logo for details)<br>
  <div id="progress" class="halfStyle hs-vertical-third" data-content="Enforcers">Enforcers</div>
  <div id="percent"></div>
</div>
