<head>
    <!--! These lines were commented out to stop the clipping of the ENFORCERS at the top. The JS must cause it for some reason.-->
    <script type='text/javascript' src="https://www.google.com/jsapi"></script>
    <script type='text/javascript' src="{{ site.url }}/assets/js/raffle-meter.js"></script> 
{% if page.large-raffle-meter %} <!-- Checks if the large-raffle-meter tag is in the .md file. -->
<!--[if !IE]><!-->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/raffle-meter.css">
</head>

<div id="raffle-meter-container" align="center">
  <!--* Some lines were commented out to get rid of the raffle meter bit, and just keep the logo -->
  <div id="progress-title">Raffle Progress Bar</div>
  <div id="progress-info">Blue: Tickets sold | White: Tickets left </div><br> 
  <!--* Margin was increased to 40px to move it away from the header a bit-->
  <div style="margin-top: 40px;" id="progress-container">
    <div id="progress" class="halfStyle hs-vertical-third" data-content="Enforcers">Enforcers</div>
  </div>
  <div id="progress-title">2022-23 Raffle</div>
  <!-- <div id="percent"></div> -->
  <b><p id="percentSold">Thank you for supporting us!</p></b>
</div>
<!--<![endif]-->
{% else %} <!-- Displays the small raffle meter otherwise. -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/small-raffle-meter.css">
</head>
<div id="raffle-meter-container-s">
  <div id="raffle-meter-out"></div>
  <div id="raffle-meter-sold"></div>
  <div id="percent"></div>
</div>

{% endif %} <!-- This ends the if statement (as its name suggests).
So if you wanted to, you could do stuff without being affected by the if statement now. -->
