<div id="slideshow">
  <div id="CaptainFalcon" class="slide">
    <img alt="Captain Falcon" src="{{ site.url }}/files/CaptainFalconRendering.png" />
    <div class="slide-text">
      <p>We're the 2nd Law Enforcers: FIRST Robotics Competition Team 178 from Farmington, Connecticut. We aim to provide real-world opportunities for all team members to grow as individuals and as leaders, to pursue their passions, to explore STEM fields, and to give back to the community by inspiring young children.</p>
    </div>
  </div>
</div>
