<head>
<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/small-raffle-meter.css">
<script type='text/javascript' src="https://www.google.com/jsapi"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type='text/javascript' src="{{ site.url }}/assets/js/small-raffle-meter.js"></script>
<script type='text/javascript' src="{{ site.url }}/assets/js/modifying-css.js"></script>
<script>
  (function(d) {
    var config = {
      kitId: 'zpk3ogt',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

</head>

<div id="raffle-meter-container-s">
	<div id="raffle-meter-goal" style="width:100%;
    background-color: #FFF;
    height: 40px;">
    <div id="percent" align="right"></div>
  </div>
  <div id="raffle-meter-out" style="background-color: #fdd51b;
    height: 40px;"></div>
  <div id="raffle-meter-sold" style="background-color: #0e0096;
    height: 40px;"></div>
</div>