<div id="social-bar">
  <a href="https://www.facebook.com/FRC178"><img alt="Facebook" src="{{ site.url }}/assets/img/social/facebook.png" /></a>
  <a href="https://twitter.com/team178"><img alt="Twitter" src="{{ site.url }}/assets/img/social/twitter.png" /></a>
  <a href="http://www.youtube.com/user/Team178Enforcers"><img alt="YouTube" src="{{ site.url }}/assets/img/social/youtube.png" /></a>
  <a href="http://whatisfrc.tumblr.com/"><img alt="Tumblr" src="{{ site.url }}/assets/img/social/tumblr.png" /></a>
  <a href="https://github.com/team178"><img alt="GitHub" src="{{ site.url }}/assets/img/social/github.png" /></a>
</div>
