<!-- Sponsors -->
<div class="wrapper style1">
  <section id="sponsors" class="container special">
    <header>
      <h2>We Love Our Sponsors!</h2>
      <span class="byline">The Farmington Robotics Team would not be possible with out the gracious help of our sponsors.</span>
    </header>
    <div class="row">
      <article class="4u special">
        <a href="http://www.otisworldwide.com/" class="image featured"><img src="images/otis.jpg" frameborder="0" /></a>
        <header>
          <h3><a href="http://www.otisworldwide.com/">UTC OTIS Elevator</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
      <article class="4u special">
        <a href="http://www.ebmpapst.us/en/" class="image featured"><img src="images/ebmpapst.jpg" alt="" /></a>
        <header>
          <h3><a href="http://www.ebmpapst.us/en/">ebm-papst Inc.</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
      <article class="4u special">
        <a href="http://www.sikorsky.com" class="image featured"><img src="images/sikorsky.jpg" alt="" /></a>
        <header>
          <h3><a href="http://www.sikorsky.com">UTC Sikorsky Aircraft Corporation</a></h3>
        </header>
        <p>
          Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
          porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        </p>
      </article>
    </div>
  </section>
  <h2 style="text-align:center;"><a href="sponsors.html">See All Sponsors >></a></h2>
</div>