<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Enforcers Team 178</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/slides.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
</head>
