<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Dream FIRST</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/resources/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/resources/css/clouds.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/resources/js/menu.js"></script>
  <script type="text/javascript" src="{{ site.url }}/resources/js/clouds.js"></script>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
</head>
