<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} &bull; {% endif %}First Team 178</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="{{ page.desc }}">
  <meta name="author" content="{{ page.author }}">
  
  <link href="{{ site.url }}/resources/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.url }}/resources/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ site.url }}/resources/css/mainstyle.css" rel="stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/apple-touch-icon-152x152.png">
</head>
