<a class="twitter-timeline" 
 href="https://twitter.com/team178"
 data-widget-id="673150561794048000"
 data-chrome="transparent"
 data-link-color="#FFD000"
 data-border-color="#000178"
 width="2vw" >
Tweets by @team178
</a> 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>