<!-- bxSlider Javascript file -->
<script src="{{ site.url }}/assets/js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="{{ site.url }}/assets/css/jquery.bxslider.css" rel="stylesheet" />

<ul class="bxslider">
  <li><iframe width="560" height="315" title="Brainstorming 2015" src="https://www.youtube-nocookie.com/embed/PamrDVDoD-A" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rjuI2C1lCEM" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/a4By92A33s0" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Nv4A25gA1vM" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/32f-OtEJJBM" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/P6tiBmdEuTU" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
  <li><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/8aZYZkQN0tY" frameborder="0" allowfullscreen="allowfullscreen"></iframe></li>
</ul>

<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
    slideWidth: 560,
  });
});
</script>
