/**
 * Colors
 * 
 * background (white)     rgba(255,255,255, 0.95)
 * inset (blue)           rgb(26, 38, 51)
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

/* Inline Items */
img {
	border: none;
}
b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
a {
	color: #3b86b8;
	-moz-transition: color .15s ease-in;
}
a:hover {
	color: #4c99cc;
}
a:active {
	color: #3776a1;
}

/* Headings */
h1 {
	font-family: 'Open Sans', sans-serif; font-weight: 300;
	font-weight: 300;
}

h3 {
	font-family: 'Open Sans', sans-serif; font-weight: 300;
	font-size: 28px; font-weight: 300;
	letter-spacing: -1px;
}

/* Site Design */
body {
	margin: 0; padding: 0;
	background: url("background.png"); background-color: rgb(248, 248, 248);

	font-family: Verdana; font-size: 14px;
	color: rgb(51,51,51);
}

#wrapper {
	margin: auto;
}

#header {
	background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(252,252,252) );
	background-color: rgba(252,252,252, 1);

	border-bottom: 1px solid rgba(0,0,0, 0.2);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

#header-container {
	margin: auto;
	width: 900px; height: 80px;
}

#logo {
	display: inline;
	float: left;
	font-size: 40px;

	margin: 8px 30px 0 0; padding: 0 15px;
}

nav {
	display: inline-block; text-align: center;
}
#nav {
	margin: 20px 0 0 0; padding: 0;

	list-style-type: none;
}
#nav li {
	float: left;
}
#nav li a {
	margin: 0 5px; padding: 6px 15px;

	display: block; 

	color: rgb(51,51,51);
	text-decoration: none;

	border-radius: 4px;

	border: 1px solid rgba(0,0,0, 0.15);

	transition: border .15s ease;
}

#nav li a:hover {
	border: 1px solid rgba(0,0,0, 0.25);
	box-shadow: 0 0 3px 0px rgba(0,0,0, 0.1);
}

#nav li a:active {
	border: 1px solid rgba(0,0,0, 0.25);
	box-shadow: 0 0 2px 0px rgba(0,0,0, 0.5) inset;
}

#container {
	color: rgba(0,0,0, 1); text-shadow: none;

	width: 100%;
}

article {
	margin: 15px auto; padding: 0;
	max-width: 900px;
}

#banner {
	display: inline-block;
	margin: 15px 0;

	box-shadow: 2px 2px 8px rgba(0,0,0,0.85);
}

#information {
	margin: 0 auto 40px;
	width: 900px;

	overflow: hidden;
}

#information div {
	margin: 0 10px 0;
	display: inline-block;
	width: 280px;
}

#news {
	float: left;
}

#our-team {
	float: left;
}

#third-thing {
	float: right;
}

#contact {
	margin: auto;
	text-align: center;
	clear: both;
}
