#banner {
  width: 100%; min-height: 12rem;
  background-color: #1A245B;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3),
        inset 0px 5px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3),
        inset 0px 5px 10px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3),
        inset 0px 5px 10px 0px rgba(0,0,0,0.3);
}

#banner .slide {
  margin: auto;
}

#banner #intro {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;

  min-height: 200px;
  padding: 0 5px;

  color: rgba(255,255,255, 0.8);
}

#intro img {
  width: 160px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}

#intro .banner-text {
  margin: 0; padding: 20px;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #intro img {
    display: none;
  }
}
