.inset { /* shadow at top */
	width: 200px; height: 55px;
	margin-left: -40px;
	position: absolute;
	top: -50px;
	left: -10px;
	z-index: 5;
/* roundness of shadow */
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	background: rgba(0,0,0,0.3);

	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

.container { /* edges of flag */
	position: relative;
	width: 100px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto;
	border-left: 1px solid #1A245B; /* left edge */
	border-right: 1px solid #1A245B; /* right edge */
}

.base {
	height: 150px;
	width: 100px;

	background: #0F0838;
	background: -moz-linear-gradient(top,  #C09000 0%, #FFD000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C09000), color-stop(100%,#FFD000));
	background: -webkit-linear-gradient(top,  #C09000 0%,#FFD000 100%);
	background: -o-linear-gradient(top,  #C09000 0%,#FFD000 100%);
	background: -ms-linear-gradient(top,  #C09000 0%,#FFD000 100%);
	background: linear-gradient(top,  #C09000 0%,#FFD000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C09000', endColorstr='#FFD000',GradientType=0 );

	position: relative;
	z-index: 2;
}

.base:after { /* left parts of dashes */
	content: '';
	position: absolute;
	top: 0;
	width: 86px;
	left: 6px;
	height: 192px;
	border-left: 1px dashed #0F0838; /* left dashed */
	border-right: 1px dashed #0F0838; /* right dashed */
}

.base:before { /* right parts of dashes */
	content: '';
	position: absolute;
	top: 0;
	width: 86px;
	left: 7px;
	height: 192px;
	border-left: 1px dashed #FCFF5F; /* left dashed */
	border-right: 1px dashed #FCFF5F; /* right dashed */
}

.left_corner { /* bottom left corner of flag */
	width: 100px;
	height: 100px;
	background: #FFD000;
	position: absolute;
	bottom: 70px;
	left: -50px;
	z-index: 1;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.right_corner { /* bottom right corner of flag */
	width: 100px;
	height: 100px;
	background: #FFD000;
	position: absolute;
	bottom: 70px;
	right: -50px;
	z-index: 1;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.flags { /* both flags */
	height: 201px;
	position: relative;
	margin-right: 10px; margin-left: 10px;
	overflow: hidden;
	 -webkit-animation: pulsate 1s ease-out;
	 -webkit-animation-iteration-count: 1;
	 opacity: 1.0
}
@-webkit-keyframes pulsate {
	 0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	 50% {opacity: 1.0;}
	 100% {-webkit-transform: scale(1, 1); opacity: 1.0;}
}

@media (max-width: 835px) {
	.flags {
		display: none;
	}
}
