@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* Set default values here */
body {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 1.5em;
}

/* This styles the "title" of the page */
#header {
  text-align: center;
}

/* This styles all links */
a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  font-weight: bold;
  text-decoration: none;
}

/* These styles the "h1" and "h2" tags. ex: <h1> TEXT </h1> */
h1 a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100px;
  -webkit-margin-after: 0;
  text-shadow: none;
  color: #000000;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  line-height: 1.5em;
  font-weight: normal;
  -webkit-margin-after: 0;
}

/* This styles anything with class="category" */
.category {
  clear: both;
}

/* This class styles only the image links with class="activity" */
.activity {
  margin: 10px;
  padding: 5px;
  width: 220px;
  height: 200px;
  float: left;
}

/* This class styles the "even more" links at the bottom */
.link {
  line-height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(100, 100, 150, 0.5);
}

/* Start Here */
#garden-bot {
  background: url('/assets/img/garden_bot.png') no-repeat;
}

#minecraft {
  background: url('/assets/img/minecraft.jpg') no-repeat;
}

#frozen {
  background: url('/assets/img/logo_tall_frozen.jpg') no-repeat;
}

#starwars {
  background: url('/assets/img/logo_tall_starwars.jpg') no-repeat;
}

/* Try More */
#dress {
  background: url('/assets/img/dress.jpg') no-repeat;
}

#bubble-name {
  background: url('/assets/img/bubble-name.jpg') no-repeat;
}

#about-me-website {
  background: url('/assets/img/about_me.jpg') no-repeat;
}

#solar-system-website {
  background: url('/assets/img/solar_system.jpg') no-repeat;
}

#light-bot {
  background: url('/assets/img/light_bot.png') no-repeat;
}

#java {
  background: url('/assets/img/java-oracle.jpg') no-repeat;
}

#code-combat {
  background: url('/assets/img/code-combat.jpg') no-repeat;
}

/* I want a challenge */
#flappy-bird {
  background: url('/assets/img/flappy.jpg') no-repeat;
}

#scratch {
  background: url('/assets/img/scratch.jpg') no-repeat;
}

#build-game {
  background: url('/assets/img/build-game.jpg') no-repeat;
}

#khan-academy {
  background: url('/assets/img/khan-academy.png') no-repeat;
}

#edit-me {
  background: url('/assets/img/edit_me.gif') no-repeat;
}

#holiday-lights {
  background: url('/assets/img/tree.jpg') no-repeat;
}
