@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);


body {
  margin: 0; padding: 0;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;

  background-color: #ecf0f1;

  -webkit-text-size-adjust: 100%;
}

h1 { font-weight: 300; }
h2 { font-weight: 300; }
h3 { font-weight: 300; }
h4 { font-weight: 300; }

img { max-width: 100%; }

#header {
  margin: 0; padding: 0 20px;
  background-color: rgb(44, 62, 80);

  /* inline-block fix */
  font-size: 0;
  line-height: 0;
}

#header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0; padding: 0;

  font-size: 32px;
  line-height: 100%;
}

#header h1 a {
  margin: 0; padding: 0;
  color: #ffff00;

  line-height: 100%;
  text-decoration: none;

  transition: color 0.2s;
}

#header h1 a:hover {
  color: #fcff5f;
}

#slideshow {
  width: 100%; height: 200px;
  background-color: rgba(52, 73, 94, 0.95);
}

#slideshow .slide {
  margin: auto;
}

#content {
  padding: 10px 0 20px;
}

#content article {
	margin: auto;
	max-width: 800px;
}

footer {
  padding: 20px 20%;
  background-color: rgba(52, 73, 94, 0.95);
  color: rgba(255,255,255, 0.8);
  text-align: center;
}