@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  margin: 0; padding: 0;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;

  background-color: #ecf0f1;

  -webkit-text-size-adjust: 100%;
}

h1 { font-weight: 300; }

#header {
  margin: 0; padding: 0 20px;
  background-color: rgba(52, 73, 94, 0.95);

  /* inline-block fix */
  font-size: 0;
  line-height: 0;
}

#header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0; padding: 0;

  font-size: 32px;
  line-height: 100%;
}

#header h1 a {
  margin: 0; padding: 0;
  color: yellow;

  line-height: 100%;
  text-decoration: none;
}

#header h1 a:hover {
  color: orange;
}

nav {
  overflow: hidden;
  display: inline-block;
  margin-left: 25px; padding-left: 15px;

  background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.3) 30%, hsla(0,0%,100%,.3) 70%, hsla(0,0%,100%,0)),
                    linear-gradient(hsla(210,54%,20%,0), hsla(210,54%,20%,.3) 30%, hsla(210,54%,20%,.3) 70%, hsla(210,54%,20%,0));
  background-size: 1px, 1px, 1px;
  background-position: 0px 0px, 1px 0px, 2px 0px;
  background-repeat: no-repeat;
}

#nav {
  margin: 0; padding: 0;
  list-style-type: none;
}

#nav li {
  display: block;
  margin: 0; padding: 1px;
  float: left;
}

#nav li a {
  display: block;
  margin: 0; padding: 18px 12px;

  color: rgba(255,255,255, 0.8);
  text-decoration: none;

  font-weight: 300;
  font-size: 18px;
  line-height: 100%;

  transition: color 0.2s;
}

#nav li a:hover {
  color: rgba(255,255,255, 1);
}

#content {

}

#content article {
	margin: auto;
	width: 800px;
}