@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);


body {
  margin: 0; padding: 0;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;

  background-color: #ecf0f1;

  -webkit-text-size-adjust: 100%;
}

h1 { font-weight: 300; }
h2 { font-weight: 300; }
h3 { font-weight: 300; }
h4 { font-weight: 300; }

img { max-width: 100%; }

#header {
  margin: 0; padding: 0 20px;
  background-color: rgb(44, 62, 80);

  /* inline-block fix */
  font-size: 0;
  line-height: 0;
}

#header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0; padding: 0;

  font-size: 32px;
  line-height: 100%;
}

#header h1 a {
  margin: 0; padding: 0;
  color: #ffff00;

  line-height: 100%;
  text-decoration: none;

  transition: color 0.2s;
}

#header h1 a:hover {
  color: #fcff5f;
}

nav {
  overflow: hidden;
  display: inline-block;
  margin-left: 25px; padding-left: 15px;

  background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.3) 30%, hsla(0,0%,100%,.3) 70%, hsla(0,0%,100%,0)),
                    linear-gradient(hsla(210,54%,20%,0), hsla(210,54%,20%,.3) 30%, hsla(210,54%,20%,.3) 70%, hsla(210,54%,20%,0));
  background-size: 1px, 1px, 1px;
  background-position: 0px 0px, 1px 0px, 2px 0px;
  background-repeat: no-repeat;
}

#nav {
  margin: 0; padding: 0;
  list-style-type: none;
}

#nav li {
  display: block;
  margin: 0; padding: 1px;
  float: left;
}

#nav li a {
  display: block;
  margin: 0; padding: 18px 12px;

  color: rgba(255,255,255, 0.8);
  text-decoration: none;

  font-weight: 300;
  font-size: 18px;
  line-height: 100%;

  transition: color 0.2s;
}

#nav li a:hover {
  color: rgba(255,255,255, 1);
}

#nav li ul {
  display: none;
  position: absolute;
  padding: 0;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 5px;
}

#nav li:hover ul {
  display: block;
}

#nav li ul li {
  padding: 0;
  float: none;
}

#slideshow {
  width: 100%; height: 200px;
  background-color: rgba(52, 73, 94, 0.95);
}

#slideshow .slide {
  margin: auto;
}

#content {
  padding: 10px 0 20px;
}

#content article {
	margin: auto;
	max-width: 800px;
}

footer {
  padding: 20px 20%;
  background-color: rgba(52, 73, 94, 0.95);
  color: rgba(255,255,255, 0.8);
  text-align: center;
}