table, td, tr, th {
    border: 2px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-collapse: collapse;
    border-color:rgb(255,208,0);
}

th {
    font-style: italic;
}

tr {
    height: 20px;
    width: 100px;
}