nav {
  /* Nothing's here because what was here didn't work. */
}

#nav {
  margin: 0; padding: 0;
  list-style-type: none;
}

/** Primary navigation items **/
#nav li {
  display: block;
  margin: 0; padding: 1px;
  float: left;
}
#nav li a {
  display: block;
  margin: 0; padding: 0.5rem .75rem;

  color: rgba(255,255,255, 0.8);
  text-decoration: none;

  font-weight: 500;
  font-size: 1.15rem;
  line-height: 100%;

  transition: color 0.2s;
}
#nav li a:hover {
  color: #FFF;
}

#nav li ul:before {
  /** This is the arrow above the hover menu **/
  content: "";
  display: block;

  width: 0; height: 0;
  margin-top: 0.75rem;
  margin-left: 1rem; /** Shift the triangle to the right a little **/

  /** CSS Hack to make a triangle. */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0F0838;
}

/** Secondary navigation items **/
#nav li ul {
  z-index: 10;
  display: none;
  position: absolute;
  margin: 0; padding: 0;
  min-width: 9rem;
  border-radius: 5px;
}
#nav li:hover ul {
  display: block;
}

#nav li ul li { /* Styles the body of the nav menu item's dropdowns */
  padding: 0;
  float: none;
  background-color: #0F0838;
}
#nav li ul li a { /* Styles the text of the nav menu item's dropdowns */
  color: rgba(255,255,255, 0.8);
  font-weight: 500;
}
#nav li ul li a:hover {
  color:rgba(255,255,255, 1);
}

#nav li ul li:first-child { /* Adds rounded corners to dropdowns */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#nav li ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#nav li ul li + li { /* Styles divider lines for dropdowns */
  border-top: 1px solid rgba(255,255,255, 0.35);
}

#menu-toggle, #menu-check {
  display: none;
}

/** Styles everything for mobile **/
@media screen and (max-width: 815px) {
  .menu-tangle {
    height: .4rem;
    width: 2rem;
    border-radius: 3px;
    background-color: #FFD000;
    margin-bottom: 4px;
  }
  .menu-tangle:last-of-type {
    margin-bottom: 0;
  }
  #menu-toggle {
    order: 0;
    margin-right: 10px;
    margin-top: -3px;
    display: block;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    cursor: pointer;
  }
  #menu-check:checked + #menu-toggle {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
  #menu-check:checked ~ nav {
    display: block !important;
  }

  #header #logo-wrapper {
    order: 1;
    flex: 1;
  }

  nav {
    padding: 0; margin: 0;
    display: none;
  }

  #nav::before { /* Styles triangle of whole nav bar dropdown */
    content: "";
    display: block;

    width: 0; height: 0;
    margin-left: 1rem;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0F0838;
  }

  #nav {
    z-index: 10;
    position: absolute;
    margin: 2rem 0 0 -3rem; padding: 0;
    max-width: 7.25rem;
    border-radius: 5px;
  }

  #nav li { /* Styles dropdown for whole nav bar */
    display: block;
    width: 100%;
    background-color: #0F0838;
  }

  #nav li a {
    display: block;
    margin: 0; padding: 5px 12px;
    color: rgba(255,255,255, 0.8);
  }
  #nav li a:hover {
    color: rgba(255,255,255, 1);
  }

  #nav li:first-child {
    border-radius: 5px 5px 0 0;
  }

  #nav li:last-child {
    border-radius: 0 0 5px 5px;
  }

  #nav li + li {
    border-top: 2.5px solid rgba(255,255,255, 0.25);
    margin: 0;
  }
  #nav li ul {
    margin-left: 7.75rem;
    margin-top: -2rem;
  }
  #nav li ul a {
    font-size: 1.025rem;
  }
  /* Moves triangle for secondary dropdowns to side */
  #nav li ul:before {
    transform: rotate(270deg);
    margin-bottom: -1.25rem;
    margin-left: -.9rem;
  }
}
