#menu-toggle {
  display: none;
}

nav {
  /** White lined separator between logo and navigation **/
  margin-left: 1.5rem; padding-left: 1rem;
  background-image: linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.3) 30%, hsla(0,0%,100%,.3) 70%, hsla(0,0%,100%,0)),
                    linear-gradient(hsla(210,54%,20%,0), hsla(210,54%,20%,.3) 30%, hsla(210,54%,20%,.3) 70%, hsla(210,54%,20%,0));
  background-size: 1px, 1px, 1px;
  background-position: 0px 0px, 1px 0px, 2px 0px;
  background-repeat: no-repeat;
}

#nav {
  margin: 0; padding: 0;
  list-style-type: none;
}

/** Primary navigation items **/
#nav li {
  display: block;
  margin: 0; padding: 1px;
  float: left;
}
#nav li a {
  display: block;
  margin: 0; padding: 0.5rem 1rem;

  color: rgba(255,255,255, 0.8);
  text-decoration: none;

  font-weight: 300;
  font-size: 1.15rem;
  line-height: 100%;

  transition: color 0.2s;
}
#nav li a:hover {
  color: rgba(255,255,255, 1);
}

#nav li ul:before {
  /** This is the arrow above the hover menu **/
  content: "";
  display: block;

  width: 0; height: 0;
  margin-top: 0.75rem;
  margin-left: 1rem; /** Shift the triangle to the right a little **/

  /** CSS Hack to make a triangle. */
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(44, 62, 80);
}

/** Secondary navigation items **/
#nav li ul {
  z-index: 1;
  display: none;
  position: absolute;
  margin: 0; padding: 0;
  min-width: 9rem;
  border-radius: 5px;
}
#nav li:hover ul {
  display: block;
}

#nav li ul li { /* Styles the body of the nav menu item's dropdowns */
  padding: 0;
  float: none;
  background-color: rgb(44, 62, 80);
}
#nav li ul li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#nav li ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#nav li ul li + li {
  border-top: 1px solid rgba(0,0,0, 0.5);
}

/** Styles everything for mobile **/
@media screen and (max-width: 810px) {
  #menu-toggle {
    order: 0;
    padding-right: 10px;
    background-repeat: no-repeat;
    display: block;
    width: 2rem; height: 2rem;
    background-image: url("../img/gold-menu.png");
    opacity: 0.95;
    transition: 0.2s opacity;
  }
  #header h1 {
    order: 1;
    flex: 1;
  }

  #menu-toggle:hover {
    opacity: 1;
  }

  nav {
    padding: 0; margin: 0;
  }

  #nav::before { /* Styles triangle of whole nav bar dropdown */
    content: "";
    display: block;

    width: 0; height: 0;
    margin-left: 1rem;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(44, 62, 80);
  }

  #nav {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 1.75rem 0 0 -2rem; padding: 0;
    max-width: 10rem;
    border-radius: 5px;
  }

  #nav.show {
    display: block;
  }

  #nav li { /* Styles dropdown for whole nav bar */
    display: block;
    width: 100%;
    background-color: rgb(44, 62, 80);
  }

  #nav li a {
    display: block;
    margin: 0; padding: 5px 12px;
  }

  #nav li:first-child {
    border-radius: 5px 5px 0 0;
  }

  #nav li:last-child {
    border-radius: 0 0 5px 5px;
  }

  #nav li + li {
    border-top: 1px solid rgba(0,0,0, 0.1);
    margin: 0;
  }
}
