#raffle-pictures {
	height: 20%;
	width: 100%;
	margin:0 auto;
	background-color: #3C5165;
}
#raffle-ipad {
	margin-left: 20px;
	margin-bottom: 12px;
	margin-right: 5px;
}
#raffle-3doodler {
	margin-left: 5px;
	margin-bottom: 5px;
}

@media screen and (max-width: 746px) {
  #raffle-pictures {
    display: none;
  }
}
