#slideshow #Stronghold {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;

  min-height: 200px;
  padding: 0 5px;

  color: rgba(255,255,255, 0.8);
}

#Stronghold img {
  width: 160px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}

#Stronghold .slide-text {
  margin: 0; padding: 20px;
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #Stronghold img {
    display: none;
  }
}
