#raffle-meter-container-s {
    display: none;
    position:relative;
    text-align:center;
    overflow: hidden;
}
#raffle-meter-goal {
    width:100%;
    height:2.5em;
    background-color: #FFF;
    pointer-events: none;
}
#raffle-meter-out {
    background-color: #FFD000;
    height:2.5em;
}
#raffle-meter-sold {
    position:absolute;
    top:0px;
    left:0px;
    background-color: #000178;
    height:2.5em;
}
#percent {
    background-color: rgba(255,255,255,.5);
    position:absolute; 
    top:.5em;
    height: 1.5em;
    padding: 0px;

    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
/* For mobile */
@media (max-width: 700px) and (orientation: portrait){
    #percent {
        font-size:13px;
        right: 0px;
        height: 22px;
    }
}