#raffle-meter-container-s {
    display: none;
    position:relative;
    z-index:-1;
    text-align:center;
}
#raffle-meter-goal {
    width:100%;
    height:1.5em;
    background-color: #FFF;
    pointer-events: none;
}
#raffle-meter-out {
    background-color: #FFD000;
    height:1.5em;
}
#raffle-meter-sold {
    position:absolute;
    top:0px;
    left:0px;
    background-color: #000178;
    height:1.5em;
}
#percent {
    background-color: rgba(255,255,255,.5);
    position:absolute;
    top:0px;
    width: 50%;
    right:25%;
}

@media (max-width: 700px) and (orientation: portrait){
    #percent {
        font-size:12px;
        right: 0px;
        width:auto;
    }
}