#raffle-meter-goal {
    display:inline-block;
    pointer-events: none;
}
#raffle-meter-sold {
    z-index:2;
    position:absolute;
    top:0;
    margin-top: 65px;
}
#raffle-meter-out {
    z-index:1;
    position:absolute;
    top:0;
    margin-top: 65px;
}
#raffle-meter-container-s {
    display: none;
    z-index: -1;
}
#percent {
    font-size: 16px;
    margin-top: -5px;
}
@media (max-width: 700px) {
    #percent {
    font-size: 14px;
    }
}