#raffle-meter-container-s {
  display: none;
  position:relative;
  text-align:center;
  overflow: hidden;
}
#raffle-meter-out {
  background-color: #FFD000;
  height:2.5em;
}
#raffle-meter-sold {
  position:absolute;
  top:0px;
  left:0px;
  background-color: #1A245B;
  height:2.5em;
}
#percent {
  background-color: rgba(255,255,255,.5);
  position:absolute;
  top:.5em;
  height: 1.5em;
  padding: 0px;
  line-height: 1.5em;

  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
span.raffle-link > a {
  display: inline-block;
  color: #EEE;
  text-shadow: black 0.1em 0.1em 0.2em;
}
span.raffle-link > a:hover {
  color: #FFF;
  text-shadow: black 0.15em 0.15em 0.25em;
}
/* For mobile */
@media (max-width: 530px){
  #percent {
    font-size: 12px;
    right: 0px;
    height: 2em;
    line-height: 2em;
  }
}
