#social-bar {
  margin: 12px 0 0 0;
  float: right;
}

#social-bar a {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

#social-bar a:hover {
  margin: -2px 3px;
}

#social-bar a img {
  width: 32px; height: 32px;
}

#social-bar a:hover img:hover {
  width: 36px; height: 36px;
}

@media screen and (max-width: 875px) {
  #social-bar a:hover {
    margin: -1px 4px;
  }

  #social-bar a img {
    width: 24px; height: 24px;
  }

  #social-bar a:hover img:hover {
    width: 26px; height: 26px;
  }
}

@media screen and (max-width: 750px) {
  #social-bar {
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 380px) {
  #social-bar {
    display: none;
  }
}