.tooltip{
    display: inline-block;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    white-space: pre;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}