<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/hour-of-code.css">
  <title>Farmington Public Schools Hour of Code</title>
</head>
<body>
  
<div id="header">
  <h1><a href="{{ site.url }}/hofc">FPS Hour of Code</a></h1> 
  <h2>(Talk to the person at your table about what to do)</h2>
</div>

  <div id="start-here" class="category">
    <h2>Start Here:</h2>
      
      <a id="flappy-bird" class="activity" href="https://studio.code.org/flappy/1">Flappy Bird (Easy)</a>

      <a id="minecraft" class="activity" href="https://studio.code.org/s/mc/stage/1/puzzle/1">Minecraft</a>

      <a id="frozen" class="activity" href="https://studio.code.org/s/frozen/stage/1/puzzle/1">Frozen</a>
 
      <a id="starwars" class="activity" href="https://studio.code.org/s/starwars/stage/1/puzzle/1">Star Wars</a>

      <a id="garden-bot" class="activity" href="https://www.madewithcode.com/projects/robots">Garden Bot</a>
  </div>

  <div id="try-more" class="category">
    <h2>Try More:</h2>
      
      <a id="dress" class="activity" href="https://www.madewithcode.com/projects/fashion">LED Dress</a>

      <a id="code-combat" class="activity" href="http://codecombat.com/hoc">Code Combat</a>
      
      <a id="light-bot" class="activity" href="http://lightbot.com/hocflash2014.html">Light Bot</a>

      <a id="bubble-name" class="activity" href="https://www.codecademy.com/courses/hour-of-code-en/0/1">Animate your Name</a>

      <a id="about-me-website" class="activity" href="https://www.codecademy.com/courses/web-beginner-en-3pc6w/0/1">About Me Website</a>

      <a id="solar-system-website" class="activity" href="https://www.codecademy.com/courses/web-beginner-en-3pc6w/0/1">Solar System Website</a>

      <a id="java" class="activity" href="https://www.codecademy.com/learn/learn-java">Learn Java</a>
  </div>

  <div id="want-challenge" class="category">
    <h2>I Want a Challenge!</h2>
    
    <a id="flappy-bird" class="activity" href="https://www.makeschool.com/build-flappy-bird-in-your-browser">Flappy Bird (Difficult)</a>
    
    <a id="khan-academy" class="activity" href="https://www.khanacademy.org/computing/hour-of-code/hour-of-drawing-code/v/welcome-hour-of-code">Khan Academy</a>

    <a id="build-game" class="activity" href="https://www.codeavengers.com/javascript/100">Build Game in JavaScript</a>
    
    <a id="scratch" class="activity" href="https://scratch.mit.edu/">Scratch</a>

  </div>

  <div id="even-more" class="category">
    <h2>Even More...</h2>

    <a id="code-org" class="link" href="https://code.org/learn">Code.org</a>
    
    <a id="made-with-code" class="link" href="https://www.madewithcode.com/projects/">Made With Code</a>

    <a id="tynker" class="link" href="https://www.tynker.com/hour-of-code/">Tynker</a>

  </div>
</body>
</html>
