<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <script type='text/javascript' src="https://www.google.com/jsapi"></script>
  <script type='text/javascript' src="{{ site.url }}/assets/js/tooltip.js"></script>
  <script type='text/javascript' src="{{ site.url }}/assets/js/modifying-css.js"></script>
  <script type='text/javascript' src="{{ site.url }}/assets/js/raffle-meter.js"></script>
</head>
<body>
  {% include header.html %}
  {% include raffle-meter.html %}
  <div id="content">
    <article>
      {{ content }}
    </article>
  </div>
  {% include footer.html %}
</body>
</html>
